# Ignore all VS Code virtual documents
**/.virtual_documents/

# Ignore all Jupyter Notebook checkpoints
**/.ipynb_checkpoints/

# Ignore temporary or backup files
*.swp
*.tmp
*.bak

# Ignore VS Code workspace settings
.vscode/

